a:hover {
    cursor: pointer;
    color: #fa9d3b;
}

.ok-space {
    display: flex;
    flex: 1;
}

.ok-card {
    box-shadow: 0 4px 8px 0 #ccc;
    transition: 0.3s;
    border-radius: 5px;
}

.ok-card:hover {
    box-shadow: 0 8px 16px 0 #ccc;
}

.ok-float {
    position: fixed;
    bottom: 32px;
    right: 32px;
    z-index: 2147483647;
}

.ok-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 32px;

    width: 256px;
    background-color: white;
    margin-top: 8px;
}

.ok-left {
    width: 64px;
    height: 64px;

    background-color: whitesmoke;
    overflow: hidden;
}

.ok-img {
    object-fit: contain;
    max-height: 64px;
    max-width: 64px;
}

.ok-right {
    display: flex;
    flex-direction: column;
    margin-left: 8px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ok-status {
    display: flex;
    flex: 1;
}

.ok-open {
    color: #fa9d3b;
    margin-top: 8px;
}