a:hover {
    cursor: pointer;
    color: #fa9d3b;
}

.ok-space {
    display: flex;
    flex: 1;
}

.ok-card {
    box-shadow: 0 4px 8px 0 #ccc;
    transition: 0.3s;
    border-radius: 5px;
}

.ok-card:hover {
    box-shadow: 0 8px 16px 0 #ccc;
}

.ok-float {
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 2147483647;
}

.ok-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    min-width: 144px;
}

.ok-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;

    min-width: 144px;
    background-color: #eee;
    margin-top: 8px;
}

.ok-left {
    width: 48px;
    height: 48px;
}

.ok-img {
    object-fit: contain;
}

.ok-right {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    
    white-space: nowrap;
}

.ok-status {
    display: flex;
    flex: 1;
}

.ok-open {
    color: #10aeff;
    margin-top: 2px;
}